

/* LOGOS */

#logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

#github-logo, #linkedin-logo, #rg-logo, #scholar-logo {
  text-decoration: none;
  border: none;
  margin-bottom: 16px;
  filter: contrast(20%);
}

#github-logo:hover, #linkedin-logo:hover, #rg-logo:hover, #scholar-logo:hover {
  filter: contrast(100%);
}

#github-logo img {
  width: 50px;
  height: 50px;
}

#linkedin-logo img {
  width: 45px;
  height: auto;
}

#rg-logo img {
  width: 37px;
  height: 37px;
}

#scholar-logo img {
  width: 45px;
  height: 45px;
}


