html {
  min-height: 100%;
  position: relative;
}

body {
  font:14px/1.5 Arial, Helvetica, sans-serif;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
 
/* GIF */
img.animated-gif{
  width: 40px;
  height: 40px;
}
 
/* FontAwesome icons */

 .fa {
   color: #777;
}
    
.fa:hover {
  color: white;
}   
  
.ai {
  color: #777;
}
    
.ai:hover {
  color: white;
}   

.circle-icon {
  background: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  padding: 5px;
}

footer{
  position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

 /* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
 .row.content {height:auto;} 
 }


